---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

<Layout>
	<section class="text-center">
		<h1 class="text-4xl font-bold mt-16">Hola, soy José Avilán</h1>
		<p class="mt-4 text-lg text-slate-600 dark:text-slate-300">
		  Este es el inicio de mi portafolio profesional.
		</p>
	  </section>
</Layout>
